<th:block th:fragment="navigation">
    <li class="nav-item"><a href="/web/librarian/dashboard" class="nav-link fw-semibold text-white">Dashboard</a></li>
    <li class="nav-item"><a href="/web/librarian/manage/books" class="nav-link fw-semibold text-white">Books</a></li>
    <li class="nav-item"><a href="/web/librarian/manage/users" class="nav-link fw-semibold text-white">Users</a></li>
    <li class="nav-item"><a href="/web/librarian/manage/circulation" class="nav-link fw-semibold text-white">Borrow and Returns</a></li>
    <li class="nav-item"><a href="/web/librarian/reports/lending" class="nav-link fw-semibold text-white">Borrow/Return History</a></li>
</th:block>