body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('/img/ptcbg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-sizing: border-box;
}


.ptc-logo {
  margin-bottom: 20px;
}

.login-container {
  width: 328px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-top: 0;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

    .password-wrapper {
      position: relative;
      width: 100%;
    }


    .password-wrapper input {
      width: 93%;
    }


    .password-wrapper i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #888;
    }

    .password-wrapper i:hover {
      color: #333;
    }
.login-container button {
  background: #5cb85c;
  border: 1px solid #5cb85c;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  }

  .login-container button:active {
    opacity: .5;
  }

.login-container button:hover {
  background-color: initial;
  background-position: 0 0;
  color: #5cb85c;
}


.logo {
  display: block;
  max-width: 200px;
}
